In [1]:
import pandas as pd  # type: ignore

df = pd.read_json("results.jsonl", lines=True)

df.describe()

,user_id,revlogs_count,avg_review_count_per_note,avg_review_count_per_card,ratio
count,9845.000000,9.845000e+03,9845.000000,9845.000000,9845.000000
mean,4998.850889,7.316737e+04,10.305234,8.530710,1.208809
std,2887.979162,1.267283e+05,10.989485,8.809057,0.487259
min,1.000000,9.390000e+02,1.000000,1.000000,1.000000
25%,2497.000000,1.330000e+04,4.720000,4.210000,1.000000
50%,4999.000000,3.117600e+04,7.500000,6.440000,1.040000
75%,7498.000000,8.012200e+04,12.090000,9.940000,1.250000
max,10000.000000,3.910718e+06,255.200000,254.050000,23.740000

In [2]:
df.sort_values(by="ratio", ascending=False)

,user_id,revlogs_count,avg_review_count_per_note,avg_review_count_per_card,ratio
5909,6002,12668,228.64,9.63,23.74
6051,6148,34111,27.16,2.56,10.62
9495,9645,77147,98.27,9.55,10.29
2157,2187,5518,22.38,2.18,10.26
6545,6652,17682,89.61,9.87,9.08
...,...,...,...,...,...
4699,4771,121860,7.07,7.07,1.00
4698,4770,11522,9.29,9.29,1.00
4695,4767,82684,25.82,25.82,1.00
4692,4764,8626,2.66,2.66,1.00
9844,10000,72071,8.01,8.01,1.00