In [1]:
import pandas as pd  # type: ignore

df = pd.read_json("results.jsonl", lines=True)
df["ratio"] = df["avg_review_count_per_note"] / df["avg_review_count_per_card"]

df.describe()

,user_id,revlogs_count,card_count,note_count,avg_review_count_per_note,avg_review_count_per_card,retention_rate,ratio
count,9845.000000,9.845000e+03,9845.000000,9845.000000,9845.000000,9845.000000,9672.000000,9845.000000
mean,4998.850889,5.412355e+04,6393.994413,5395.216557,10.305230,8.530709,0.848578,1.208879
std,2887.979162,1.073680e+05,9014.908761,7501.560719,10.989487,8.809056,0.129057,0.487177
min,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,2497.000000,7.924000e+03,1347.000000,1171.000000,4.720000,4.210000,0.790000,1.000000
50%,4999.000000,2.030300e+04,3049.000000,2617.000000,7.500000,6.440000,0.880000,1.039858
75%,7498.000000,5.677900e+04,7479.000000,6257.000000,12.090000,9.940000,0.940000,1.247634
max,10000.000000,3.909289e+06,98026.000000,76887.000000,255.200000,254.050000,1.000000,23.742471

In [2]:
df[df["ratio"] < 4].sort_values(by="ratio", ascending=False).head(30)

,user_id,revlogs_count,card_count,note_count,avg_review_count_per_note,avg_review_count_per_card,retention_rate,ratio
7759,7878,122,76,19,6.42,1.61,NaN,3.987578
8889,9032,8723,5267,1335,6.53,1.66,0.88,3.933735
9560,9710,20877,4226,1104,18.91,4.94,0.87,3.827935
186,191,30145,5431,1427,21.12,5.55,0.97,3.805405
5952,6047,41921,4380,1152,36.39,9.57,0.93,3.802508
5085,5165,44364,3899,1036,42.82,11.38,0.75,3.762742
2530,2567,1097,280,75,14.63,3.92,0.87,3.732143
4772,4845,31482,3251,877,35.90,9.68,0.74,3.708678
9361,9508,8139,1708,461,17.66,4.77,0.94,3.702306
682,695,249,69,19,13.11,3.61,0.33,3.631579
3105,3151,21881,3904,1079,20.28,5.60,0.98,3.621429
7237,7350,16265,2210,616,26.40,7.36,0.88,3.586957
4836,4911,7888,1188,337,23.41,6.64,0.84,3.525602
7501,7618,8183,1134,322,25.41,7.22,0.86,3.519391
5251,5334,645,111,32,20.16,5.81,0.73,3.469880
2883,2925,19556,12823,3727,5.25,1.53,0.89,3.431373
2196,2227,13548,824,248,54.63,16.44,0.83,3.322993
6149,6247,20645,1962,595,34.70,10.52,0.75,3.298479
8491,8628,15118,5251,1597,9.47,2.88,0.95,3.288194
7581,7698,62842,13094,4041,15.55,4.80,1.00,3.239583
3934,3990,3343,490,153,21.85,6.82,0.85,3.203812
364,371,700,76,24,29.17,9.21,0.55,3.167210
7264,7378,89574,28011,9056,9.89,3.20,0.96,3.090625
9713,9867,30486,11163,3630,8.40,2.73,0.98,3.076923
2765,2805,11806,982,320,36.89,12.02,0.75,3.069052
8772,8913,6662,2228,734,9.08,2.99,0.89,3.036789
1737,1760,40555,7461,2459,16.49,5.44,0.97,3.031250
1957,1985,11720,1301,430,27.26,9.01,0.87,3.025527
332,338,6983,571,189,36.95,12.23,0.84,3.021259
8312,8446,85466,4169,1381,61.89,20.50,0.90,3.019024

In [3]:
from script import load_user_data

dataset = load_user_data(7378)
dataset

,card_id,day_offset,rating,state,duration,elapsed_days,elapsed_seconds,review_th,note_id,deck_id,parent_id,preset_id
0,4335,104,3,0,41682,-1,-1,490,4266,272,2515,0
1,3639,104,3,0,34688,-1,-1,491,3129,272,2515,0
2,3746,104,3,0,41418,-1,-1,492,3228,272,2515,0
3,3747,104,3,0,51672,-1,-1,493,3229,272,2515,0
4,3748,104,3,0,60000,-1,-1,494,3230,272,2515,0
...,...,...,...,...,...,...,...,...,...,...,...,...
89569,27925,1502,3,1,2419,0,69,90060,10423,2015,2482,0
89570,27900,1502,3,1,1750,0,92,90061,10416,2015,2482,0
89571,27911,1502,2,1,4354,0,86,90062,10418,2015,2482,0
89572,27926,1502,3,1,1642,0,95,90063,10423,2015,2482,0
89573,27911,1502,3,1,1542,0,3,90064,10418,2015,2482,0

In [4]:
# For each note_id, count the number of unique card_id associated with it
note_card_counts = dataset.groupby("note_id")["card_id"].nunique()
note_card_counts[note_card_counts < 5].sort_values(ascending=False).head(30)

note_id
9507    4
6590    4
9486    4
9515    4
7606    4
6584    4
6585    4
9547    4
9549    4
9550    4
9552    4
6588    4
9564    4
6589    4
9591    4
6841    4
9615    4
9622    4
2616    4
9630    4
9636    4
7524    4
9679    4
9683    4
9686    4
9697    4
6644    4
6649    4
9485    4
5537    4
Name: card_id, dtype: int64

In [5]:
dataset[dataset["note_id"] == 9686].head(30)

,card_id,day_offset,rating,state,duration,elapsed_days,elapsed_seconds,review_th,note_id,deck_id,parent_id,preset_id
70127,23117,917,3,0,5413,-1,-1,70618,9686,1710,2452,0
70133,23118,917,3,0,5301,-1,-1,70624,9686,1710,2452,0
70137,23119,917,4,0,3442,-1,-1,70628,9686,1710,2452,0
70140,23120,917,3,0,4286,-1,-1,70631,9686,1710,2452,0
70153,23117,917,3,1,481,0,99,70644,9686,1710,2452,0
70160,23118,917,3,1,332,0,51,70651,9686,1710,2452,0
70165,23120,917,3,1,346,0,28,70656,9686,1710,2452,0